* {
  padding: 0;
  margin: 0;
  color: #14879f;
  font-family: "Poppins", "sans-serif";
}

.poster {
  position: relative;
}
.poster img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 400px;
  filter: brightness(0.3);
  margin: auto;
}

.intro {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  padding: 20px 0px;
}
.intro h1 {
  text-align: center;
  font-size: 2.5rem;
  letter-spacing: 2px;
  word-spacing: 5px;
}
.intro p {
  font-weight: 400;
  text-align: center;
  color: #72878b;
  letter-spacing: 1.5px;
  font-size: 10px;
  margin-top: 0.5%;
}

.input_text {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2%;
}
.input_text input {
  text-align: center;
  width: 50%;
  color: #000000;
  font-size: 15px;
  border: 2px solid #005d6f;
  padding: 10px;
  letter-spacing: 2px;
  border-radius: 5px;
  background-color: rgba(240, 248, 255, 0);
}
.input_text input:value {
  color: grey;
}
.input_text input:focus {
  outline: none;
}
.input_text input:hover {
  border: 2px solid #005d6f;
  border-color: #005d6f;
}
.input_text button {
  margin-left: 10px;
  padding: 10px;
  color: black;
  font-size: 12px;
  letter-spacing: 2px;
  border-radius: 5px;
  border-color: #14879f;
  transition: background-color 0.2s ease-in-out;
}
.input_text button:hover {
  background-color: #005d6f;
}

.response {
  padding-left: 20px;
}
.response h1 {
  margin-top: 6%;
  margin-left: 30px;
}

body {
  height: 100%;
}

footer {
  margin-top: 4%;
  justify-content: center;
  align-items: center;
  height: 150px;
  background-color: #000000;
}
footer h2 {
  text-align: center;
  letter-spacing: 4px;
  font-size: 3rem;
  text-transform: uppercase;
}

.footer-links {
  display: flex;
  flex-direction: row;
  margin-top: 2%;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}

a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 20px;
  letter-spacing: 2px;
  font-weight: bold;
  transition: color 0.3s ease-in-out;
}

a:hover {
  color: #005d6f;
}

@media only screen and (max-width: 600px) {
  .poster {
    position: relative;
  }
  .poster img {
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 200px;
    filter: brightness(0.3);
    margin: auto;
  }
  .intro {
    position: absolute;
    top: 13%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    padding: 20px 0px;
  }
  .intro h1 {
    text-align: center;
    line-height: 120%;
    font-size: 2rem;
    letter-spacing: 2px;
    word-spacing: 5px;
  }
  .intro p {
    font-weight: 400;
    text-align: center;
    color: #72878b;
    letter-spacing: 1.5px;
    font-size: 0.3rem;
    margin-top: 0.5%;
  }
  .response {
    margin-left: 2%;
    margin-top: 8%;
  }
  .response h1 {
    font-weight: 700;
    color: #005d6f;
    font-size: 1rem;
  }
  .input_text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
  }
  .input_text input {
    text-align: center;
    width: 50%;
    color: #000000;
    font-size: 6px;
    border: 2px solid #005d6f;
    padding: 8px;
    letter-spacing: 2px;
    border-radius: 5px;
    background-color: rgba(240, 248, 255, 0);
  }
  .input_text input:value {
    color: grey;
  }
  .input_text input:focus {
    outline: none;
  }
  .input_text input:hover {
    border: 2px solid #005d6f;
    border-color: #005d6f;
  }
  .input_text button {
    display: block;
    margin-left: 10px;
    padding: 8px;
    color: black;
    font-size: 6px;
    letter-spacing: 2px;
    border-radius: 5px;
    border-color: #14879f;
    transition: background-color 0.2s ease-in-out;
  }
  .input_text button:hover {
    background-color: #005d6f;
  }
  footer {
    display: none;
  }
}/*# sourceMappingURL=style.css.map */